<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submitted Loan Applications</title>
</head>
<body>
    <h1>Submitted Loan Applications</h1>

    <ul>
        {% for application in applications %}
            <li>
                <strong>ID:</strong> {{ application.id }} <br>
                <strong>Customer:</strong> {{ application.customer }} <br>
                <strong>Creation Date:</strong> {{ application.created }} <br>
                <strong>Status:</strong> {{ application.get_status_display }} <br>
                <strong>Timeslot:</strong> {{ application.timeslot }} <br>

            </li>
        {% empty %}
            <p>No applications to evaluate at the moment.</p>
        {% endfor %}
    </ul>
</body>
</html>
